@inject UserManager<AppUser> UserManager
@inject SignInManager<AppUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PortfolioWebsiteApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PortfolioWebsiteApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <h4 class="logo">YunFolio</h4>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 main-menu">
                        <li class="nav-item">
                            <a class="" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="" asp-area="" asp-controller="About" asp-action="Index">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="" asp-area="" asp-controller="Home" asp-action="Index">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="" asp-area="" asp-controller="Home" asp-action="Index">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="" asp-area="" asp-controller="Home" asp-action="Index">Userbase</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav flex-grow-1 account-menu">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            AppUser appUser = await UserManager.FindByNameAsync(User.Identity.Name);
                            if (appUser.ProfilePictureNav != null)
                            { 
                                <li class="nav-item">
                                    <img width="30" height="30" style="border-radius: 50%" src="@appUser.ProfilePictureNav">
                                </li>
                            } else
                            {
                                <li class="nav-item">
                                    <img width="30" height="30" style="border-radius: 50%" src="https://cdn-icons-png.flaticon.com/128/1946/1946429.png">
                                </li>
                            }
                            <li class="nav-item ms-3">
                                <a class="" asp-area="" asp-controller="Profile" asp-action="Index" asp-route-id="@User.Identity.Name">Profile</a>
                            </li>
                            <li class="nav-item ms-4">
                                <a class="" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                        } else
                        {
                            <li class="nav-item">
                                <a class="" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item ms-4">
                                <a class="" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted fixed-bottom">
        <div class="container">
            &copy; 2022 - YunFolio - <a class="contact" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
