@inject SignInManager<AppUser> SignInManager
@model RegisterViewModel

<link rel="stylesheet" href="~/css/register.css" asp-append-version="true">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<body>
    <div class="wrapper">
        <div class="form-left">
            <h2 class="register-title text-center">
                Registration Notice
            </h2>
            <p class="register-body text-center" style="color:#DCDCDC">
                Please note that this site uses SMTP to send confirmation emails. 
                So you must check your email's spam folder to find your confirmation email.
                Since this is a portfolio website, it is strongly recommended that
                you use a throwaway email to register your account when testing out
                the site's user account functionalities.
            </p>
        </div>

        <div class="form-right">
            <h2 class="text-center">Create Account</h2>
            <div asp-validation-summary="All" class="error-msg text-danger text-center"></div>
            <form asp-controller="Account" asp-action="Register" method="post" role="form">
                <div class="row name-div">
                    <div class="col-sm-6 mb-3">
                        <label class="input-label">First Name</label>
                        <input asp-for="FirstName" type="text" id="first_name" class="input-field" placeholder="Enter First Name" required>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label class="input-label">Last Name</label>
                        <input asp-for="LastName" type="text" id="last_name" class="input-field" placeholder="Enter Last Name" required>
                    </div>
                </div>
                <div class="row id-div">
                    <div class="col-sm-6">
                        <label class="input-label">Username</label>
                        <input asp-for="UserName" type="text" id="username" class="input-field" placeholder="Enter Username" required>
                    </div>
                    <div class="col-sm-6">
                        <label class="input-label">Email Address</label>
                        <input asp-for="EmailAddress" type="email" id="email" class="input-field" placeholder="Enter Email Address" required>
                    </div>
                </div>
                <div class="row pass-div">
                    <div class="col-sm-6">
                        <label class="input-label">Password</label>
                        <input asp-for="Password" type="password" id="password" class="input-field" placeholder="Enter Password" required>
                    </div>
                    <div class="col-sm-6">
                        <label class="input-label">Confirm Password</label>
                        <input asp-for="ConfirmPassword" type="password" id="repassword" class="input-field" placeholder="Reenter Password" required>
                    </div>
                </div>
                <div class="login-text">
                    <label>Already have an account? <a asp-controller="Account" asp-action="Login">Then Login!</a></label>
                </div>
                <div class="form-field">
                    <input type="submit" value="Submit" class="submit-btn">
                </div>
            </form>
        </div>
    </div>
</body>
