body {
    background: #757F9A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #D7DDE8, #757F9A); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: hidden;
}

.content-div {
    margin-top: 10%;
}

    .content-div .input-field {
        width: 20rem;
        padding: 1rem;
        border: 0rem;
    }

    .content-div .save-btn {
        width: 5rem;
    }

    .content-div .cancel-btn {
        width: 5rem;
    }

    /* about title */
    .content-div .title-edit-btn {
        position: absolute;
        margin-top: -2%;
        margin-left: 50%;
        color: #404040;
    }

        .content-div .title-edit-btn:hover {
            cursor: pointer;
            color: #400000;
        }

    .content-div h1 {
        margin-top: -2.5%;
        text-align: center;
    }

    .content-div #title-edit-form {
        margin-top: -2.5%;
        margin-left: 35%;
    }

    /* about body */
    .content-div .body-edit-btn {
        position: absolute;
        margin-top: -2%;
        margin-left: 75%;
        color: #404040;
    }

        .content-div .body-edit-btn:hover {
            cursor: pointer;
            color: #400000;
        }

    .content-div #body-load {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100rem;
    }

    .content-div .about-body {
        text-align: center;
        margin-top: 1%;
        margin-left: 12.5%;
        margin-right: 17.5%;
        color: #383838;
    }

    .content-div .body-editor-form {
        resize: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
        height: 10rem;
        width: 50rem;
    }

    .content-div #body-length {
        display: block;
        margin-top: -2.5%;
        margin-left: 65%;
        width: 10rem;
    }

    .content-div .body-btns {
        display: block;
        margin-left: 45%;
        margin-top: 1%;
    }

    /* about logos */
    .content-div #pics-load {
        position: absolute;
        margin-top: 17%;
        margin-left: -15%;
        width: 100rem;
    }

    .content-div .logos-div {
        position: absolute;
        margin-top: -1%;
        width: 100rem;
        text-align: center;
    }

    .content-div .logo-img {
        width: 10rem;
        height: 7.5rem;
        display: inline-block;
    }

    .content-div .source-code {
        position: absolute;
        margin-top: 8.5%;
        margin-left: 50%;
        color: white;
    }
        .content-div .source-code .git-logo {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
        }

    /* add logo */
    .content-div .add-logo-master-div {
        position: absolute;
        width: 20rem;
        height: 10rem;
        margin-top: 7.5%;
        margin-left: 80%;
    }

    .content-div .add-logo-div {
        width: 4.75rem;
        height: 4.75rem;
        margin-top: 8.5%;
        margin-left: 5%;
    }

    .content-div .add-logo-div .add-logo-icon {
        display: block;
        margin-top: -130%;
        font-size: 4.75rem;
        color: #200000;
    }

    .content-div .add-logo-div input {
        position: relative;
        z-index: 9999;
        height: 100%;
        width: 100%;
        opacity: 0;
    }

    .content-div .add-logo-small {
        display: block;
        font-size: 0.75rem;
        color: #200000;
        margin-top: -5%;
        margin-left: -7.5%;
    }

    .content-div .wipe-btn {
        display: block;
        float: right;
        margin-top: -30%;
        margin-right: 10%;
        width: 8rem;
    }
