body {
    background: #757F9A;
}

.alert {
    width: 28.125rem;
    left: 50%;
    margin-left: -14.063rem;
    margin-top: -14%;
    padding: 1.25rem;
    background-color: #5291EF;
    color: white;
    position: fixed;
}

.closemsg {
    margin-left: 0.938rem;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 1.375rem;
    line-height: 1.25rem;
    cursor: pointer;
    transition: 0.3s;
}

    .closemsg:hover {
        color: black;
    }

.content-div {
    margin-top: 25%;
}

    .content-div .input-field {
        width: 20rem;
        padding: 1rem;
        border: 0rem;
    }

    .content-div .save-btn {
        margin-left: 1%;
        width: 5rem;
    }

    .content-div .cancel-btn {
        width: 5rem;
    }

    /* home picture */
    .content-div .home-img-edit-btn {
        position: absolute;
        margin-top: -12.5%;
        margin-left: 79%;
        color: #404040;
    }

        .content-div .home-img-edit-btn:hover {
            color: #400000;
        }

    .content-div .pic-input {
        width: 1rem;
        margin-left: -50%;
        opacity: 0;
    }

    .content-div .home-picture {
        position: absolute;
        margin-top: -12.5%;
        margin-left: 60%;
        width: 16.25rem;
        height: 20rem;
    }

    /* title text */
    .content-div .title-edit-btn {
        position: absolute;
        margin-top: -2%;
        margin-left: 0%;
        color: #404040;
    }

        .content-div .title-edit-btn:hover {
            cursor: pointer;
            color: #400000;
        }

    .content-div h1 {
        margin-top: 5%;
    }

    .content-div #title-edit-form {
        margin-top: 5%;
    }

    /* home body */
    .content-div .body-edit-btn {
        position: absolute;
        margin-top: -2%;
        margin-left: 0%;
        color: #404040;
    }

        .content-div .body-edit-btn:hover {
            cursor: pointer;
            color: #400000;
        }

    .content-div .home-body {
        margin-top: 1%;
        color: #383838;
    }

    .content-div #body-length {
        display: block;
        margin-left: 47.5%;
    }

    .content-div .body-editor-form {
        resize: none;
        margin-top: 0%;
        height: 10rem;
        width: 50rem;
    }

    .content-div .body-btns {
        display: block;
        margin-top: -3.5%;
        margin-left: 62.5%;
    }
