body {
    background: #bdc3c7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: hidden;
}

.section {
    width: 97.5rem;
    height: 10rem;
    min-height: 15rem;
    margin-left: -10%;
    border: 1px solid black;
}

.name {
    margin-top: 7.5%;
    color: #F0F8FF;
}

.subname {
    color: #FAF0E6;
}

h3 {
    color: #404040;
}

.btn {
    width: 5rem;
}

.objective {

}

    .objective .objective-edit-btn {
        position: absolute;
        display: block;
        margin-top: -2%;
        margin-left: 85%;
        color: #F0F8FF;
    }
        .objective .objective-edit-btn:hover {
            cursor: pointer;
            color: #DC143C;
        }

    .objective .objective-p {
        display: block;
        margin-top: 2%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .objective .objective-textarea {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.5%;
        resize: none;
        width: 45rem;
        height: 5rem;
        padding: 1rem;
    }

    .objective .objective-btns {
        margin-top: 1%;
        text-align: center;
    }
